!pip install pandas sqlalchemy mysql-connector-python

In [60]:
import pandas as pd
from sqlalchemy import create_engine

database_name = 'apple_store'
data_table = 'apple_data'
discount_table = 'discounts'

mysql_conn_str = f"mysql+mysqlconnector://root:root@localhost/{database_name}"

engine = create_engine(mysql_conn_str, echo=True)

data= pd.read_csv('data/apple data.csv')
discounts_data = pd.read_csv('data/discount_data.csv')

# Push DataFrame to MySQL database
data.to_sql(data_table, con=engine, index=False, if_exists='replace')
discounts_data.to_sql(discount_table, con=engine, index=False, if_exists='replace')

2023-12-12 08:39:40,862 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-12-12 08:39:40,862 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:41,053 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-12-12 08:39:41,054 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:41,350 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-12-12 08:39:41,351 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:41,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-12 08:39:41,428 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-12-12 08:39:41,444 INFO sqlalchemy.engine.Engine [generated in 0.00184s] {'table_schema': 'apple_store', 'table_name': 'apple_data'}
2023-12-12 08:39:41,449 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-12-12 08:39:41,449 INFO sqlalchemy.engine.Engine [cached since 0.008164s ago] {'table_schema': 'apple_store', 'table_name': 'apple_data'}
2023-12-12 08:39:41,449 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `apple_store`
2023-12-12 08:39:41,532 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:41,547 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `apple_data`
2023-12-12 08:39:41,547 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:41,832 INFO sqlalchemy.engine.Engine
DROP TABLE apple_data
2023-12-12 08:39:41,833 INFO sqlalchemy.engine.Engine [no key 0.00106s] {}
2023-12-12 08:39:41,932 INFO sqlalchemy.engine.Engine
CREATE TABLE apple_data (
	product_id BIGINT,
	product_category TEXT,
	product_name TEXT,
	price BIGINT,
	stock_quantity BIGINT
)


2023-12-12 08:39:41,933 INFO sqlalchemy.engine.Engine [no key 0.00144s] {}
2023-12-12 08:39:42,412 INFO sqlalchemy.engine.Engine INSERT INTO apple_data (product_id, product_category, product_name, price, stock_quantity) VALUES (%(product_id)s, %(product_category)s, %(product_name)s, %(price)s, %(stock_quantity)s)
2023-12-12 08:39:42,413 INFO sqlalchemy.engine.Engine [generated in 0.00180s] ({'product_id': 101, 'product_category': 'iPhone', 'product_name': 'iPhone 13', 'price': 999, 'stock_quantity': 50}, {'product_id': 102, 'product_category': 'MacBook', 'product_name': 'MacBook Air', 'price': 1299, 'stock_quantity': 30}, {'product_id': 103, 'product_category': 'iPad', 'product_name': 'iPad Pro', 'price': 799, 'stock_quantity': 40}, {'product_id': 104, 'product_category': 'Apple Watch', 'product_name': 'Apple Watch Series 7', 'price': 399, 'stock_quantity': 60}, {'product_id': 105, 'product_category': 'AirPods', 'product_name': 'AirPods Pro', 'price': 249, 'stock_quantity': 70}, {'product_id': 106, 'product_category': 'Mac', 'product_name': 'Mac mini', 'price': 699, 'stock_quantity': 25}, {'product_id': 107, 'product_category': 'iPhone', 'product_name': 'iPhone 12', 'price': 899, 'stock_quantity': 45}, {'product_id': 108, 'product_category': 'iPad', 'product_name': 'iPad Air', 'price': 599, 'stock_quantity': 35}  ... displaying 10 of 50 total bound parameter sets ...  {'product_id': 149, 'product_category': 'iPad', 'product_name': 'iPad Mini 5th Gen', 'price': 399, 'stock_quantity': 55}, {'product_id': 150, 'product_category': 'Apple Watch', 'product_name': 'Apple Watch Hermes', 'price': 1599, 'stock_quantity': 10})
2023-12-12 08:39:42,425 INFO sqlalchemy.engine.Engine COMMIT
2023-12-12 08:39:42,700 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-12-12 08:39:42,702 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-12-12 08:39:42,703 INFO sqlalchemy.engine.Engine [cached since 1.261s ago] {'table_schema': 'apple_store', 'table_name': 'discounts'}
2023-12-12 08:39:42,706 INFO sqlalchemy.engine.Engine SELECT COUNT(*) FROM information_schema.tables WHERE table_schema = %(table_schema)s AND table_name = %(table_name)s
2023-12-12 08:39:42,706 INFO sqlalchemy.engine.Engine [cached since 1.264s ago] {'table_schema': 'apple_store', 'table_name': 'discounts'}
2023-12-12 08:39:42,709 INFO sqlalchemy.engine.Engine SHOW FULL TABLES FROM `apple_store`
2023-12-12 08:39:42,709 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:42,713 INFO sqlalchemy.engine.Engine SHOW CREATE TABLE `discounts`
2023-12-12 08:39:42,714 INFO sqlalchemy.engine.Engine [raw sql] {}
2023-12-12 08:39:42,719 INFO sqlalchemy.engine.Engine
DROP TABLE discounts
2023-12-12 08:39:42,719 INFO sqlalchemy.engine.Engine [no key 0.00107s] {}
2023-12-12 08:39:42,816 INFO sqlalchemy.engine.Engine
CREATE TABLE discounts (
	product_id BIGINT,
	discount_perc BIGINT
)


2023-12-12 08:39:42,817 INFO sqlalchemy.engine.Engine [no key 0.00164s] {}
2023-12-12 08:39:42,872 INFO sqlalchemy.engine.Engine INSERT INTO discounts (product_id, discount_perc) VALUES (%(product_id)s, %(discount_perc)s)
2023-12-12 08:39:42,872 INFO sqlalchemy.engine.Engine [generated in 0.00143s] ({'product_id': 101, 'discount_perc': 5}, {'product_id': 102, 'discount_perc': 7}, {'product_id': 103, 'discount_perc': 8}, {'product_id': 104, 'discount_perc': 10}, {'product_id': 105, 'discount_perc': 15}, {'product_id': 106, 'discount_perc': 6}, {'product_id': 107, 'discount_perc': 9}, {'product_id': 108, 'discount_perc': 10}  ... displaying 10 of 50 total bound parameter sets ...  {'product_id': 149, 'discount_perc': 10}, {'product_id': 150, 'discount_perc': 18})
2023-12-12 08:39:42,877 INFO sqlalchemy.engine.Engine COMMIT

-1

In [61]:
#Testing
pd.read_sql_query(f'select * from {data_table} limit 2', engine)

2023-12-12 08:42:35,045 INFO sqlalchemy.engine.Engine select * from apple_data limit 2
2023-12-12 08:42:35,046 INFO sqlalchemy.engine.Engine [raw sql] {}

   product_id product_category product_name  price  stock_quantity
0         101           iPhone    iPhone 13    999              50
1         102          MacBook  MacBook Air   1299              30